let mapleader = " "
set idearefactormode=keep
set ideajoin
set visualbell
set noerrorbells
set clipboard+=unnamed
set scrolloff=10
set incsearch

sethandler <C-D> a:vim
sethandler <C-P> a:ide
sethandler <C-U> a:vim

nnoremap <C-;> :action ShowIntentionActions<CR>
nnoremap gh :action ShowErrorDescription<cr>
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gu :action FindUsages<CR>
nnoremap <leader>e :action ActivateProjectToolWindow<CR>
" create new file
nnoremap <leader>n :action NewElement<CR>
" terminal
nnoremap <leader>t :action ActivateTerminalToolWindow<cr>
nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
" toggle Region open/close
nnoremap za :action ToggleRegion<CR>
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>
nnoremap <leader>c :action CommentByLineComment<CR>

vim.keymap.set("n", "J", "mzJ`z")
vim.keymap.set("n", "<C-d>", "<C-d>zz")
vim.keymap.set("n", "<C-u>", "<C-u>zz")
vim.keymap.set({"n", "v"}, "<leader>d", [["_d]])
